@import url("reset.css"); /*enlaza con el rest*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}

p{
    color: #646464;
}

h1, h2, h3, h5, h6 {
    font-weight: bold;
    color: #515151;
}

a{
    text-decoration: none;
}

footer{
    background-color: #ebebeb;
}

h1{
    font-size: 130%;
}

h2{
    font-size: 125%;
}

h3{
    font-size: 120%;
}

h4{
    font-size: 115%;
}

h5{
    font-size: 110%;
}

h6{
    font-size: 105%;
}
